<div>
  <md-content class="md-padding navigation">
    <md-nav-bar md-no-ink-bar="!disableInkBar">
      <div class="title">
        <h1 id="appTitle">Grocer</h1>
      </div>

      <md-nav-item md-nav-href="#!home"> <span class="bold titleUnderline">Home</span> </md-nav-item>
      <md-nav-item md-nav-href="#!addRecipe" class="bold"><span class="bold titleUnderline">Add Recipe</span></md-nav-item>
      <md-nav-item md-nav-href="#!groceryList" class="bold"><span class="bold titleUnderline">Grocery List</span></md-nav-item>
      <span flex></span>
      <md-nav-item md-nav-click="vm.logout()"><span class="bold titleUnderline">Logout</span></md-nav-item>
    </md-nav-bar>
  </md-content>
</div>
