<md-content class="md-padding">
  <md-nav-bar
    md-no-ink-bar="disableInkBar"
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <!-- these require actual routing with ui-router or ng-route, so they
    won't work in the demo -->
    <md-nav-item md-nav-href="#!user" name="page5">Home</md-nav-item>
    <md-nav-item md-nav-href="#!addRecipe" name="page5">Add Recipe</md-nav-item>
    <md-nav-item md-nav-href="#!groceryList" name="page5">Grocery List</md-nav-item>
  </md-nav-bar>
</md-content>
