<header ng-include="'/views/partials/nav.html'"></header>

<main id="addRecipesList">
  <div layout="column" >
    <h1 class="titleUnderline">Add Recipe</h1>
    <div flex>
      <md-input-container>
        <label>Recipe Name</label>
        <input ng-model="vm.recipeName">
      </md-input-container>
    </div>
    <div flex>
      <div id="addIngredientsChips">
        <h2 class="titleUnderline">Ingredient List</h2>
        <p>Type an ingredient name below and press the enter key. Once you are finished press the 'Create Recipe' button.</p>
        <md-chips ng-model="vm.ingredients" readonly="vm.readonly" md-removable="vm.removable" placeholder="Add ingredient names..."></md-chips>
      </div>
      <md-button class="md-raised" id="submitRecipeBtn" ng-click="vm.createRecipe(vm.recipeName,vm.ingredients)">Create Recipe</md-button>
    </div>
  </div>
</main>
