<header ng-include="'/views/partials/nav.html'"></header>
<h1>hello world</h1>


<select ng-model="vm.addRecipe" ng-options="value as value.recipeName for (recipe, value) in vm.recipeList.list">
</select>

<button type="button" name="button" ng-click="vm.addRecipesToList(vm.addRecipe)">Add Recipes</button>

<h3>Recipes Added:</h3>
<p ng-repeat="recipe in vm.addedRecipes">{{recipe}}</p>




<div class="">
  <h2>Shopping List</h2>
  <div>
    <h4 ng-if="vm.refrigerator.length >= 1">Refrigerator</h4>
    <p ng-repeat="ingredient in vm.refrigerator">
      {{ingredient.ingredientName}}
      {{ingredient.quantity}}
      {{ingredient.measurement}}
    </p>
  </div>
  <div>
    <h4 ng-if="vm.freezer.length >= 1">Freezer</h4>
    <p ng-repeat="ingredient in vm.freezer">
      {{ingredient.ingredientName}}
      {{ingredient.quantity}}
      {{ingredient.measurement}}
    </p>
  </div>
  <div>
    <h4 ng-if="vm.pantry.length >= 1">Pantry</h4>
    <p ng-repeat="ingredient in vm.pantry">
      {{ingredient.ingredientName}}
      {{ingredient.quantity}}
      {{ingredient.measurement}}
    </p>
  </div>
</div>
