<header ng-include="'/views/partials/nav.html'"></header>


<main id="homeView">
  <h1 class="titleUnderline">Recipes</h1>
  <a ng-href="#!addRecipe"><button type="button" name="button">Add Recipe</button></a>
  <div ng-cloak layout-xs="column" layout="row" layout-wrap>
    <div class="card" ng-repeat="recipe in vm.userRecipes.list">
      <div class="container">
        <h4><b>{{recipe.recipeName}}</b></h4>
        <button ng-click="vm.viewRecipe(recipe)">View</button><button ng-click="vm.removeRecipe(recipe)">Remove</button>
      </div>
    </div>
  </div>
</main>
