<header ng-include="'/views/partials/nav.html'"></header>


<h1>{{vm.recipeInfo.recipeName}}</h1>
<button type="button" name="button" ng-click="vm.addIngredients(vm.ingredients)">Submit Ingredients</button>

<div ng-repeat="ingredient in vm.ingredients.list">
  <input type="text" ng-value="ingredient.ingredientName" ng-model="ingredient.ingredientName" >
  <select name="" id="" ng-model='ingredient.category'>
    <option value="">Category</option>
    <option value="Refrigerator">Refrigerator</option>
    <option value="Freezer">Freezer</option>
    <option value="Pantry">Pantry</option>
  </select>
  <input type="text" placeholder="Quantity" ng-model='ingredient.quantity'>
  <select name="" ng-model='ingredient.measurement'>
    <option value="">Measurement</option>
    <option value="tsp-fl">Tsp-fl</option>
    <option value="tbsp-fl">Tbsp-fl</option>
    <option value="cup-fl">Cup-fl</option>
    <option value="tsp">Tsp</option>
    <option value="tbsp">Tbsp</option>
    <option value="cup">Cup</option>
    <option value="fl-oz">Fl-oz</option>
    <option value="oz">Oz</option>
    <option value="lbs">Lbs</option>
    <option value="Item">Whole Item</option>
  </select>
  <button type="button" name="button" ng-click="vm.removeIngredient($index)">Remove</button>
</div>
<button type="button" name="button" ng-click="vm.addSingleIngredient()">Add Ingredient</button>
